<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Quản Lý Của Admin</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/admin.ico') }}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/progress.css') }}">

    <script src="{{ url_for('static', filename='js/classes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dungchung.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</head>

<body>
    <header>
        <h2>Quyền Admin</h2>
    </header>

    <aside class="sidebar">
        <ul class="nav">
            <li class="nav-title">MENU</li>
            <li class="nav-item"><a class="nav-link active"><i class="fa fa-home"></i> Trang Chủ</a></li>
            <li class="nav-item"><a class="nav-link"><i class="fa fa-th-large"></i> Sản Phẩm</a></li>
            <li class="nav-item"><a class="nav-link"><i class="fa fa-file-text-o"></i> Đơn Hàng</a></li>
            <li class="nav-item"><a class="nav-link"><i class="fa fa-address-book-o"></i> Khách Hàng</a></li>
            <li class="nav-item"><a class="nav-link"><i class="fa fa-picture-o"></i> Quản lý Banner</a></li>
            <li class="nav-item">
                <hr>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('route_index') }}" class="nav-link" onclick="logOutAdmin(); return true;">
                    <i class="fa fa-arrow-left"></i>
                    Đăng xuất (về Trang chủ)
                </a>
            </li>
        </ul>
    </aside>

    <div class="main">
        <div class="home" style="display: block;">
            <div class="canvasContainer">
                <canvas id="myChart1"></canvas>
            </div>

            <div class="canvasContainer">
                <canvas id="myChart2"></canvas>
            </div>

            <div class="canvasContainer">
                <canvas id="myChart3"></canvas> </div>

            <div class="canvasContainer">
                <canvas id="myChart4"></canvas> </div>
        </div>

        <div class="sanpham" style="display: none;">
            <table class="table-header">
               
            </table>

            <div class="table-content">
            </div>

            <div class="table-footer">
                <select name="kieuTimSanPham">
                    <option value="ma">Tìm theo mã</option>
                    <option value="ten">Tìm theo tên</option>
                </select>
                <input type="text" placeholder="Tìm kiếm..." onkeyup="timKiemSanPham(this)">
                <button onclick="openThemSanPham()">
                    <i class="fa fa-plus-square"></i>
                    Thêm sản phẩm
                </button>
            </div>

            <div id="khungThemSanPham" class="overlay">
                <span class="close" onclick="this.parentElement.style.transform = 'scale(0)'; previewSrc = null;">&times;</span>
                <table class="overlayTable table-outline table-content table-header">
                    <tr>
                        <th colspan="2">Thêm Sản Phẩm</th>
                    </tr>
                    <tr>
                        <td>Mã sản phẩm:</td>
                        <td><input type="text" id="maspThem"></td>
                    </tr>
                    <tr>
                        <td>Tên sản phẩm:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Hãng:</td>
                        <td>
                            <select name="chonCompany" onchange="autoMaSanPham(this.value)">
                                <script>
                                    var company = ["Apple", "Samsung", "Oppo", "Nokia", "Huawei", "Xiaomi","Realme", "Vivo", "Philips", "Mobell", "Mobiistar", "Itel","Coolpad", "HTC", "Motorola", "Khác"];
                                    for(var c of company) {
                                        document.writeln(`<option value="`+c+`">`+c+`</option>`);
                                    }
                                </script>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Hình:</td>
                        <td>
                            <img class="hinhDaiDien" id="anhDaiDienSanPhamThem" src="{{ url_for('static', filename='img/default.png') }}" alt="Ảnh sản phẩm mặc định" style="max-height: 100px; max-width: 100px; border-radius:5px; object-fit:cover;">
                            <input type="file" accept="image/*" onchange="capNhatAnhSanPham(this.files, 'anhDaiDienSanPhamThem')">
                        </td>
                    </tr>
                    <tr>
                        <td>Giá tiền:</td>
                        <td><input type="text"></td> 
                    </tr>
                    <tr>
                        <td>Số sao (0-5):</td>
                        <td><input type="number" value="0" min="0" max="5"></td> 
                    </tr>
                    <tr>
                        <td>Đánh giá (số nguyên):</td>
                        <td><input type="number" value="0" min="0"></td> 
                    </tr>
                    <tr>
                        <td>Khuyến mãi:</td>
                        <td>
                            <select>
                                <option value="">Không</option>
                                <option value="tragop">Trả góp</option>
                                <option value="giamgia">Giảm giá</option>
                                <option value="giareonline">Giá rẻ online</option>
                                <option value="moiramat">Mới ra mắt</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Giá trị khuyến mãi:</td>
                        <td><input type="text" placeholder=""></td>
                    </tr>
                    <tr>
                        <th colspan="2">Thông số kĩ thuật</th>
                    </tr>
                    <tr>
                        <td>Màn hình:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Hệ điều hành:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Camara sau:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Camara trước:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>CPU:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>RAM:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Bộ nhớ trong:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Thẻ nhớ:</td>
                        <td><input type="text"></td>
                    </tr>
                     <tr>
                        <td>SIM:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Dung lượng Pin:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="table-footer"> <button onclick="themSanPham()">THÊM</button> </td>
                    </tr>
                </table>
            </div>
            <div id="khungSuaSanPham" class="overlay"></div> 
        </div> 
        
        <div class="donhang" style="display: none;">
             <table class="table-header">
            </table>

            <div class="table-content">
            </div>

            <div class="table-footer">
                <div class="timTheoNgay">
                    Từ ngày: <input type="date" id="fromDate">
                    Đến ngày: <input type="date" id="toDate">

                    <button onclick="locDonHangTheoKhoangNgay()"><i class="fa fa-search"></i> Tìm</button>
                </div>

                <select name="kieuTimDonHang">
                    <option value="ma">Tìm theo mã đơn</option>
                    <option value="khachhang">Tìm theo tên khách hàng</option>
                    <option value="trangThai">Tìm theo trạng thái</option>
                </select>
                <input type="text" placeholder="Tìm kiếm..." onkeyup="timKiemDonHang(this)">
            </div>
            <div id="khungSuaDonHang" class="overlay">
            </div>
        </div> 
        
        <div class="khachhang" style="display: none;">
            <table class="table-header">
            </table>

            <div class="table-content"> </div>

            <div class="table-footer">
                <select name="kieuTimKhachHang">
                    <option value="hoten">Tìm theo họ tên</option>
                    <option value="email">Tìm theo email</option>
                    <option value="taikhoan">Tìm theo tài khoản</option>
                </select>
                <input type="text" placeholder="Tìm kiếm..." onkeyup="timKiemNguoiDung(this)">
                <button onclick="openThemNguoiDung()"><i class="fa fa-plus-square"></i> Thêm người dùng</button>
            </div>
            
            <div id="khungThemNguoiDung" class="overlay">
                <span class="close" onclick="this.parentElement.style.transform = 'scale(0)'; document.querySelector('.khachhang .table-content').style.display=''; document.querySelector('.khachhang .table-header').style.display=''; document.querySelector('.khachhang .table-footer').style.display='';">&times;</span>
                <form id="formThemNguoiDung" onsubmit="return false;">
                    <table class="overlayTable table-outline table-content table-header">
                        <tr>
                            <th colspan="2">Thêm Người Dùng Mới</th>
                        </tr>
                        <tr>
                            <td>Tên đăng nhập:</td>
                            <td><input type="text" id="usernameThem" required></td>
                        </tr>
                        <tr>
                            <td>Mật khẩu:</td>
                            <td><input type="password" id="passwordThem" required></td>
                        </tr>
                        <tr>
                            <td>Họ:</td>
                            <td><input type="text" id="hoThem"></td>
                        </tr>
                        <tr>
                            <td>Tên:</td>
                            <td><input type="text" id="tenThem"></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input type="email" id="emailThem"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="table-footer"> <button type="button" onclick="themNguoiDung()">THÊM</button> </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div id="khungSuaNguoiDung" class="overlay">
            </div>
        </div>

        <div class="banner-management" style="display: none;">
            <div class="table-header">
                </div>
            <div class="table-content">
                </div>
            <div class="table-footer">
                <button onclick="openThemBanner()">
                    <i class="fa fa-plus-square"></i>
                    Thêm Banner Mới
                </button>
                </div>
            <div id="khungThemBanner" class="overlay">
                </div>
            <div id="khungSuaBanner" class="overlay">
                </div>
        </div>

    </div>
    <footer>
    </footer>
     <div id="alert" style="z-index:9999; position:fixed; top:20px; right:20px; min-width:250px; display:none; padding: 15px; border-radius: 5px; box-shadow: 0 2px 10px rgba(0,0,0,0.2); transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;">
        <span id="closebtn" style="font-size: 20px; cursor: pointer; float: right; margin-left: 15px; line-height: 1;">&otimes;</span>
    </div>
</body>
</html>